@page
@model BuzzOff.Server.Pages.ErrorModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Error";
}

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>
<p>Sorry about this. Let me know and I'll take a look.</p>
<p>Feel free to open a <a href="https://github.com/Kansattica/BuzzOff/issues/new">GitHub issue</a> or email me at <a href="mailto:grace@hypnovir.us">grace at hypnovir dot us</a>.</p>
