@page "/"
@model BuzzOff.Server.Pages.IndexModel
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Buzz Off!</title>
    <link href="~/css/buzzoff.css" rel="stylesheet" />
    <script defer type="text/javascript" src="~/js/index.js"></script>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#603cba">
    <meta name="theme-color" content="#ffffff">
</head>
<body class="center">
    <h2>Welcome to Buzz Off!</h2>
    <h3>A simple website for running quiz shows and anything else that needs to know who "buzzed in" first.</h3>

    <label for="roomname">Room name to create or join:</label><br />
    <input id="roomname" type="text" value="@Model.SuggestedName"/><br/>
    <label for="output">Click here to enter, and send the link to your friends:</label><br />
    <a id="output"></a>
</body>
</html>