@page "/Room/{RoomId}"
@model BuzzOff.Server.Pages.RoomModel
@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"
@{
	Layout = "_Layout";
	ViewData["Title"] = $"{System.Web.HttpUtility.HtmlDecode(Model.RoomId)} | Buzz Off!";
}
<h2>Welcome to <span id="roomname">@(System.Web.HttpUtility.HtmlDecode(Model.RoomId))</span>!</h2>

<noscript>
	<p>I'm afraid Buzz Off! requires JavaScript to work.</p>
</noscript>

<button id="buzzbutton" class="fancy-buttons" title="You can also hit the space bar to buzz in.">Buzz!</button>
<br />
<div id="hostbuttons" hidden>
	<button id="resetbutton" class="fancy-buttons" title="Only the room host can reset. Hotkey: R">Reset</button><br />
	<button id="prelock" class="fancy-buttons" title="Anyone who buzzes in while the room is locked can't buzz in until you reset. Use this to keep people from buzzing in while you're still reading the question. Hotkey: P or L">Prelock</button>
	<button id="unlock" class="fancy-buttons" title="Remove the prelock and let people buzz in. Hotkey: U">Unlock</button>
</div>
<hr />
<span id="currentmessage"></span>
<hr id="hideifnomessage" hidden />
<span id="listheader">Player:</span>
<ul id="userlist">
</ul>
<hr />
<label for="newname">Name:</label>
<br />
<input type="text" id="newname" value="@Model.UserName">
<button id="updatename">Update</button>
<br />
<button id="randomname">Randomize Name</button>
<hr />
<label class="sound" for="makesound">Sound?</label> <input class="sound" type="checkbox" id="makesound" checked />
<audio id="buzzsound">
	<source src="/sound/buzzer.ogg?s" type="audio/ogg" />
	<source src="/sound/buzzer.mp3?s" type="audio/mpeg" />
	<source src="/sound/buzzer.mp3?s" type="audio/mp3" />
	<p>Your browser doesn't appear to support the buzzer sound, FYI.</p>
</audio>

@section PageJS {
<script type="text/javascript" asp-append-version="true" src="~/js/dist/browser/signalr.min.js"></script>
<script type="text/javascript" asp-append-version="true" defer src="~/js/buzz.js" ></script>
}
