@page "/Room/{RoomId}"
@model BuzzOff.Server.Pages.RoomModel
@{
    Layout = "_Layout";
    ViewData["Title"] = $"{Model.RoomId} | Buzz Off!";
    ViewData["IncludeBuzz"] = true;
    ViewData["InitialVars"] = $"var roomId = '{Model.RoomId}', userName = '{Model.UserName}';";
}

<h2 class="center">Welcome to @(System.Web.HttpUtility.HtmlDecode(Model.RoomId))!</h2>

<button id="buzzbutton" class="fancy-buttons center" title="You can also hit the space bar to buzz in.">Buzz!</button>
<br />
<button id="resetbutton" class="fancy-buttons center" title="Only the room owner can reset.">Reset</button>
<hr />
<span id="currentmessage"></span>
<hr id="hideifnomessage" hidden/>
Users:
<ul id="userlist">
</ul>
<hr />
<label for="newname">Username:</label><br />
<input type="text" id="newname" value="@Model.UserName"> <button id="updatename">Update</button>
