@page "/Room/{RoomId}"
@model BuzzOff.Server.Pages.RoomModel
@{
    Layout = "_Layout";
    ViewData["Title"] = $"{Model.RoomId} | Buzz Off!";
    ViewData["IncludeBuzz"] = true;
    ViewData["InitialVars"] = $"var roomId = '{Model.RoomId}', userName = '{Model.UserName}';";
}

<main class="center">
    <h2 class="">Welcome to @(System.Web.HttpUtility.HtmlDecode(Model.RoomId))!</h2>

    <button id="buzzbutton" class="fancy-buttons" title="You can also hit the space bar to buzz in.">Buzz!</button>
    <br />
    <div id="ownerbuttons" hidden>
        <button id="resetbutton" class="fancy-buttons" title="Only the room owner can reset.">Reset</button>
        <button id="lockbutton" class="fancy-buttons" title="Anyone who presses the button while prelock is on is 'locked out' until you reset. Useful if you don't want people buzzing in before you're done asking the question.">Prelock</button>
    </div>
    <hr />
    <span id="currentmessage"></span>
    <hr id="hideifnomessage" hidden />
    <span id="listheader">Users:</span>
    <ul id="userlist">
    </ul>
    <hr />
    <label for="newname">Username:</label><br />
    <input type="text" id="newname" value="@Model.UserName"> <button id="updatename">Update</button>
</main>
